*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
li,
figure,
figcaption,
hr {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

/****** INDEX.HTML ******/

/**

Cream
> #FFF8DE
> #FFF2C6

Blue
> #AAC4F5
> #8CA9FF

**/

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFF8DE;
    font-family: 'PT Serif', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

h2 {
    color: #AAC4F5;
    text-align: center;
    font-size: 2.5rem;
}

body,
main {
    gap: 2rem;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

nav,
footer {
    background-color: #FFF2C6;
}

nav,
.nav-links {
    gap: 2.5rem;
}

nav a {
    color: #AAC4F5;
}

nav a:hover {
    color: #8CA9FF;
}

nav a,
nav a:hover,
.product-info a,
.product-info a:hover,
.contact-card a,
.contact-card a:hover,
#productPrice a,
#productPrice a:hover {
    transition: 0.3s;
}

#title {
    width: 12.5rem;
    height: auto;
    /* To keep proportions */
    display: block;
    /* To avoid space below the image */
}

.nav-links {
    display: flex;
    font-weight: 700;
    font-size: 1.2rem;
    padding-top: 0.3125rem;
}

.burger-menu {
    display: none;
}

@media (width < 765px) {
    nav {
        justify-content: space-between;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;
        width: 100%;
        text-align: center;
        background-color: #FFF2C6;
        position: absolute;
        top: 90px;
        left: 0;
    }

    .nav-links.active {
        display: flex;
    }

    .burger-menu {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
    }

    .burger-menu span,
    .burger-menu::before,
    .burger-menu::after {
        content: "";
        display: block;
        width: 25px;
        height: 3px;
        background: #AAC4F5;
        margin: 5px 0;
    }

    /* When the menu is active we transform the line. */
    /* Middle line disapears. */
    .active-burger span {
        opacity: 0;
    }

    /* The two other lines rotate. */
    .active-burger::before {
        transform: translateY(8px) rotate(45deg);
    }

    .active-burger::after {
        transform: translateY(-8px) rotate(-45deg);
    }
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

section {
    scroll-margin-top: 80px;
}

#products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 0 2rem;
}

@media (width < 1220px) {
    #products {
        grid-template-columns: repeat(2, 1fr);
        max-width: 60rem;
        margin: auto;
    }
}

@media (width < 750px) {
    #products {
        grid-template-columns: 1fr;
        padding: 0 1rem;
    }
}

.product-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-cards img,
#detailedProduct img,
.other-product-cards img {
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem 1rem;
    flex-wrap: wrap;
}

.product-info h3 {
    flex: 0 0 100%;
}

@media (width < 1220px) {
    .product-info h3 {
        flex: 1;
    }
}

@media (width < 916px) {
    .product-info h3 {
        flex: 0 0 100%;
    }
}

@media (width < 750px) {
    .product-info h3 {
        flex: 1;
    }
}

@media (width < 442px) {
    .product-info h3 {
        flex: 0 0 100%;
    }
}

.product-info div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.product-info a,
#productPrice a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #8CA9FF;
    border: 1px solid #AAC4F5;
    padding: 0.2rem 1rem;
    text-align: center;
}

.product-info a:hover,
#productPrice a:hover {
    cursor: pointer;
    color: #FFF8DE;
    background-color: #AAC4F5;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#aboutUsBackground {
    background-color: white;
}

#aboutUs {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(min(390px, 100%), 1fr));*/
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 2rem;
    max-width: 80rem;
    padding: 3rem 2rem;
    margin: auto;
}

@media (width < 890px) {
    #aboutUs {
        grid-template-columns: 1fr;
    }
}

@media (width < 640px) {
    #aboutUs {
        padding: 2rem 1rem;
    }
}

#auDescription {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

#aboutUs img {
    width: 100%;
    max-width: 20rem;
    height: auto;
    justify-self: center;
    align-self: center;
}

#contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 0 1rem;
    text-align: center;
}

#socialMedia {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-card {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.contact-card img {
    width: 2rem;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.contact-card a {
    color: #8CA9FF;
}

.contact-card a:hover {
    color: #AAC4F5;
}

footer {
    padding: 1.5rem 0;
    text-align: center;
}

/****** PRODUCTS ******/

#product-content {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
}

#detailedProduct {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem 5rem;
}

@media (width < 1280px) {
    #detailedProduct {
        gap: 1rem;
    }
}

@media (width < 830px) {
    #detailedProduct {
        display: flex;
        flex-direction: column;
        max-width: 40rem;
    }
}

#imgWrapper {
    width: 100%;
}

#imagesGallery {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

#imagesGallery img {
    cursor: pointer;
    opacity: 0.7;
}

#imagesGallery img:first-child {
    opacity: 1;
}

#productDescription {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}

@media (width < 1000px) {
    #productDescription {
        grid-row: 1 / 3;
    }
}

#productTitle {
    text-align: center;
}

#productPrice {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#productPrice p {
    font-size: 2rem;
}

#productPrice a {
    font-size: 1.1rem;
}

#otherProducts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (width < 376px) {
    #otherProducts h2 {
        font-size: 2rem;
    }
}

#productsGallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 2rem;
    max-width: 50rem;
    margin: 0 auto;
}

@media (width < 830px) {
    #productsGallery {
        grid-template-columns: 1fr;
    }
}

.other-product-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.other-product-cards div {
    display: flex;
    justify-content: center;
    gap: 1rem;
}