*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
li,
figure,
figcaption,
hr {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

/**********************/

body {
    background-color: #FFF8DE;
    font-family: 'PT Serif', serif;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

h2 {
    color: #AAC4F5;
    text-align: center;
    font-size: 2.5rem;
}

body,
main {
    gap: 3rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

nav,
footer {
    background-color: #FFF2C6;
}

nav,
nav ul {
    gap: 0.5rem 4rem;
}

nav a {
    color: #AAC4F5;
}

nav a:hover {
    color: #8CA9FF;
}

nav a,
nav a:hover,
.price a,
.price a:hover,
.contact-card a,
.contact-card a:hover {
    transition: 0.3s;
}

#title {
    width: 12.5rem;
    height: auto;
    /* To keep proportions */
    display: block;
    /* To avoid space below the image */
}

nav ul {
    display: flex;
    font-weight: 700;
    font-size: 1.2rem;
    padding-top: 0.3125rem;
}

main {
    display: flex;
    flex-direction: column;
}

#products {
    max-width: 80rem;
    padding: 0 1rem;
    margin: auto;
}

#semitas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(390px, 100%), 1fr));
    gap: 2rem;
}

#semitas img {
    width: clamp(250px, 100%, 608px);
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-self: center;
}

#sDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.price {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.price p {
    font-size: 1.5rem;
}

.price a {
    text-decoration: none;
    color: #FFF8DE;
    background-color: #AAC4F5;
    border-radius: 999px;
    padding: 0.4rem 2.5rem;
}

.price a:hover {
    cursor: pointer;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#aboutUsBackground {
    background-color: white;
}

#aboutUs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(390px, 100%), 1fr));
    align-items: center;
    gap: 2rem;
    max-width: 80rem;
    padding: 2rem 1rem;
    margin: auto;
}

#auDescription {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

#aboutUs img {
    width: 100%;
    max-width: 25rem;
    height: auto;
    justify-self: center;
    align-self: center;
}

#contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 0 1rem;
    text-align: center;
}

#socialMedia {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-card {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.contact-card img {
    width: 2rem;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.contact-card a {
    color: #8CA9FF;
}

.contact-card a:hover {
    color: #AAC4F5;
}

footer {
    padding: 1.5rem 0;
    text-align: center;
}