*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
li,
figure,
figcaption,
hr {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

/**********************/

body {
    background-color: #FFF8DE;
    font-family: 'PT Serif', serif;
}

header,
main,
footer {
    padding: 0.5rem 1rem;
}

nav {
    display: flex;
    align-items: center;
}

nav,
nav ul {
    gap: 4rem;
}

nav,
nav a {
    color: #AAC4F5;
}

#title {
    width: 12.5rem; 
    height: auto; /* To keep proportions */ 
    display: block; /* To avoid space below the image */
}

nav ul {
    display: flex;
    font-weight: 700;
    font-size: 1.2rem;
    padding-top: 0.3125rem;
}

nav a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
}

.product-card img {
    width: 100%;
}

.product-card h3 {
    color: #AAC4F5;
}

.price {
    display: flex;
    gap: 1rem;
    align-self: flex-end;
}

.price p {
    font-size: 1.5rem;
}

.price a {
    text-decoration: none;
    color: #FFF8DE;
    background-color: #AAC4F5;
    border-radius: 999px;
    padding: 0.3125rem 2.5rem;
}

.price a:hover {
    cursor: pointer;
}